<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Budget AI — Prototype" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= yield :fonts %>
    <style>
      *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
      html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
    </style>
    <%= yield :styles %>
  </head>
  <body>
    <%= yield %>
    <%= yield :scripts %>
  </body>
</html>
